body{
    font-family: 'Poppins', sans-serif;
}

#banner{
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 40px;
    border-radius: 20px;
}
.game{
    color: white;
    margin: 50px 50px 50px 50px;
    padding: 15px 15px 30px;
}
.best-player{
    width: 85%;
}
.btn{
    border: 1px solid;
    background-color: red;
    text-align: center;
    color: azure;
    border-radius: 7px;
    padding: 20px 20px 20px 20px;
    
}
/* ----game-------*/
.match{
   border: 2px solid;
   width: 200px;
   background-color: black;
   height: 200px;
   margin: 40px 40px 10px 20px;
   
   

}
.group{
    border: 1px solid;
    background-color: white;
    margin: 10px 10px 10px 10px;
    text-align: center;
    color: black;
    border-radius: 7px;
}
.kela{
    border: 1px solid;
    background-color: white;
    margin: 10px 10px 10px 10px;
    text-align: center;
    color: black;
    border-radius: 7px;
}
.all{
    border: 1px solid;
    background-color: brown;
    margin: 10px 10px 10px 10px;
    text-align: center;
    color: azure;
    border-radius: 7px;
}

.seson{
    display: flex;
    margin-left: 30px;
}
.football{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    
}
.country{
    border: 1px solid;
    border-bottom: -50px;
    border-radius: 10px;
    margin: 20px 20px 20px 20px;
    padding: auto;
    
}
.flag{
    display: flex;
    margin: 20px 20px 20px 20px;
    padding-left: 10px;
    padding-right: 10px;
} 
.vs{
    text-align: center;
    padding: auto;
}

 
/* -----fotter-part -----
/* */-------------------- *
.footer{
    background-color: black;
}
.inner-footer{
    background-color: black;
}
.footer-col{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;color: aliceblue;
}
.footers{
    display: flex;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
    color: aliceblue;
}